* {
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite; 
    
}
button {
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    background-color: whitesmoke;
    color: black;
    border-radius: 4px;
    cursor: pointer;
}
.display {
    display: flex;
    flex-wrap: wrap;
    border: 3px solid black;
    width: 500px;
    height: 500px;
}
.pixels {
    flex: 1;
    aspect-ratio: 1/1;
    height: 30px;
    width: 30px;
    border: .5px solid black;
    background-color: whitesmoke;
}